* {
    margin: 0; /*8px delet */
    padding: 0; /* delet all padding*/
    outline: 0;/* delet all outline*/
    border: 0;/* delet all border*/
    box-sizing: border-box;/* что бы в ширину входило всё (пэдинги мэрджены и бордеры)*/
}

html {
    font-size: 16px;/* задаюм фонт сайз*/
}

body {
    font-size: 1rem;/* переводим в ремы*/
    line-height: 1;/*высота строки 1*/
}

a {
    text-decoration: none;/*подчёркивание ссылок и тд удаляем*/
}

ul, ol {
    list-style: none;/**/
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.1875rem;
}

.header__item {
    display: inline-block;
    outline: 2px solid black;
}

.header {
    display: flex;
    margin: 2%;
    outline: 2px solid darkblue;
}

.header__title {
    width: 35%;
    outline: 2px solid green;
}

.header__menu {
    width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    outline: 2px solid red;
}

.header__authorization {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.main__authorization {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(168, 168, 168);
    border-radius: 20px;
    width: 50%;
    margin: 11% auto;
    padding: 2%;
}

.main__title {
    display: flex;
    justify-content: center;
}

.main__form,
.form__item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

label {
    margin: 1%;
}

.form__submit {
    width: 10%;
    margin: 1% 0 0 5%;
    border: 2px solid black;
    border-radius: 20px;
}

.authorization {
    background-image: url(../img/sea.jpg);
    background-size: cover;
}