* {
    margin: 0; /*8px delet */
    padding: 0; /* delet all padding*/
    outline: 0;/* delet all outline*/
    border: 0;/* delet all border*/
    box-sizing: border-box;/* что бы в ширину входило всё (пэдинги мэрджены и бордеры)*/
}

body {
    line-height: 1;/*высота строки 1*/
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;/*подчёркивание ссылок и тд удаляем*/
}

ul, ol {
    list-style: none;/**/
}

.header {
    display: flex;
    margin: 2% 0;
    padding: 0 2%;
    outline: 2px solid darkblue;
    background-color: rgba(250, 250, 250, 0.826);
}

.header__title {
    width: 35%;
    outline: 2px solid green;
}

.header__menu {
    width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    outline: 2px solid red;
}

.header__item {
    display: inline-block;
    outline: 2px solid black;
}

.header__link {
    color: rgb(0, 0, 0);
}

.header__item:hover {
    border-bottom: 2px solid rgb(61, 163, 247);
}

.main__special {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(168, 168, 168);
    border-radius: 20px;
    width: 50%;
    margin: 9% auto;
    padding: 2%;
}

.main__title {
    display: flex;
    justify-content: center;
}

.main__form,
.form__item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.special .main__item {
    border-bottom: 3px solid black;
}

.main__item,
.main__item--special {
    padding: 2% 0;
}

label {
    margin: 1%;
}

input[class^="form__submit"] {
    width: 10%;
    margin: 1% 0 0 5%;
    border: 2px solid black;
    border-radius: 20px;
}

.special {
    background-image: url(../img/sea.jpg);
    background-size: cover;
}

.menu__item {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border: 2px solid red;
    width: 14.4%;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 68%;
    margin: 13% auto;
    border: 2px solid black;
}

.menu__input {
    border: 1px solid rgba(171, 170, 170, 0.863);
}

.additional>.additional__title {
    border-bottom: 2px solid red;
    width: 13%;
}

.additional>.additional__item {
    margin: 3% 2% 8% 2%;
    position: relative;
}

.additional__item--special {
    display: flex;
}

.additional__text {
    padding: 2%;
    width: 50%;
    letter-spacing: 0.1rem;
}

.additional__menu {
    width: 30%;
}

.downdropmenu {
    margin: 10.15% 0 0 14.45%;
}

ul[class^="downdropmenu"] {
    width: 13%;
    position: absolute;
    border: 2px solid rgb(166, 165, 165);
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.543);
}

.downdropmenu--special {
    margin: 8.44% 0 0 14.45%;
}

.downdropmenu--pramery {
    margin: 8% 0 0 14.45%;
}

.downdropmenu__item {
    margin: 1%;
    border-bottom: 1px solid rgba(201, 198, 198, 0.858);
}

.additional__picture {
    width: 91.5%;
}
